<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
<ol>
    <li> Python </li>
    <li> R </li>
    <li> SQL </li>
    <li> Julia </li>
    <li> Java </li>
    <li> C++ </li>
</ol>

<b>Objectives:</b>
<ul>
    <li>List Popular Data Science Tools</li>
    <li>List Popular Data Science Languages</li>
    <li>Learn to use RStudio</li>
    <li>Learn to use JupyterLab</li>
    <li>Learn to use Github</li>
</ul>

Some of the commonly used libraries used by Data Scientists include:
<ol>
    <li> numpy(python) </li>
    <li> pandas(python) </li>
    <li> matplotlib(python) </li>
    <li> scikit-learn(python) </li>
    <li> pytorch(python) </li>
    <li> tensorflow(python)</li>
    <li> keras(python)</li>
    <li> NLTK(python) </li>    
    <li> ggplot(R) </li>
    <li> stringr(R) </li>
    <li> dplyr(R) </li>
    <li> caret(R) </li>
</ol>

<table style="width:100%">
    <tr>
        <thead> Data Science Tools </thead>
    </tr>
    <tr>
        <td>RStudio</td>
    </tr>
    <tr>
        <td>Jupyter Notebook</td>
    </tr>
    <tr>
        <td>IBM Watson Studio</td>
    </tr>
</table>

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [16]:
# simple arithmetic operation using notebook cell code
(3*4)+5

17

In [28]:
# simple code to take convert minutes to hours
# we can also do this by taking input from users
# min = int(input())
min = 200
hr = min/60
print(hr)

3.3333333333333335

<h2>Author:</h2>
Shubham Kumar